<div id="page-prevention">
    <h2 class="container">Splošni ukrepi preprečevanja okužb z virusi hepatitisa in cepljenje</h2>

    <div class="content-block">
        <div class="container">

            <div class="row">
                <div class="col-sm-4 col-md-3 sidebar">
                    <div class="list-group">
                        <div ng-repeat="link in pages">
                            <a ng-if="link.subpages.length <= 0" href="#/preprecevanje/{{ link.link }}" class="list-group-item {{ file == link.link ? 'active' : ''}}">
                                {{ link.name }}
                            </a>
                            <a ng-if="link.subpages.length > 0" href="#/preprecevanje/{{ link.link }}" class="list-group-item {{ file == link.link ? 'active' : ''}}" data-toggle="collapse" data-target="#{{ link.link }}">
                                {{ link.name }}
                            </a>
                            <div ng-if="link.subpages.length > 0" id="{{ link.link }}" class="collapse in" collapse="{{ file == link.link ? 'false' : 'true'}}">
                                <div ng-repeat="subpage in link.subpages">
                                    <a href="" ng-click="theySeeMeScrollin(subpage.link)" class="list-group-item subitem">
                                        {{subpage.name}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-8 col-md-9">
                    <div ng-switch on="file">
                        <div ng-switch-default>
                            <div marked ng-include="urlFile"></div>
                        </div>
						
						<div ng-switch-when="">
                            <div marked ng-include="'app/pages/prevention/protection.md'">
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>