<div id="page-survey">
    <h2 class="container">Vprašalnik</h2>

    <div class="content-block">
        <div class="container"> 
			<div class="col-md-offset-2 col-md-8">
						
				<carousel interval="-1" id="survey-questions" ng-show="alertLevel == -1" class="carousel-fade">
					<slide ng-repeat="q in questions" active="q.active" class="question-page">
						<h3 class="survey-question">
							{{actualDisplayNumber}}. <span ng-bind-html="q.text">{{q.text}}</span>
							<div ng-if="q.type == 'checkbox'" class="question-info">Možnih je več odgovorov.</div>
						</h3>
						

						<ul id="ulSurvey" ng-switch on="q.type">
							<li ng-repeat="ans in q.answers" ng-switch-when="checkbox">
								<label><input name="ans{{q.pk}}_{{ans.pk}}" type="checkbox" ng-change="changeCheckbox()" ng-model="ans.selected"> {{ ans.text }}</label>
								<!--label ng-show="ans.selected == true" ng-repeat="w in ans.weights"><p ng-if="w.type == 'long_comment'">{{ w.text }}</p></label-->
							</li>
							<li ng-repeat="ans in q.answers" ng-switch-when="radio">
								<label><input name="ans{{q.pk}}_{{ans.pk}}" type="radio" ng-change="change(ans.pk)" ng-model="ans.selected" ng-value="true"> {{ ans.text }}</label>
								<!--label ng-show="ans.selected == true" ng-repeat="w in ans.weights"><p ng-if="w.type == 'long_comment'">{{ w.text }}</p></label-->
							</li>
						</ul>

						<div class="buttons">
							<button class="btn btn-primary" ng-click="back()" ng-show="displayNr > 0">Nazaj</button>
							<button class="btn btn-primary" id="button" name="button_{{q.tid}}" actual_id="{{q.pk}}" ng-click="next()" ng-disabled="!moveOn">Naprej</button>
						</div>

						<ul id="ulSurveyComment">
							<li ng-repeat="com in q.comments">
								<p ng-show="com.displayed">{{ com.long_text }}</p>
							</li>
						</ul>
					</slide>
				</carousel>

				<!--div ng-show="alertLevel >= 0" class="alert" ng-class="alertLevel == 1 ? 'alert-success' : alertLevel == 2 ? 'alert-warning' : 'alert-danger'"-->
				<div ng-show="alertLevel >= 0" class="alert" ng-class="'alert-warning'">
					<p>
						Zaradi naštetih dejavnikov tveganja oziroma bolezenskih	simptomov in znakov vam priporočamo obisk zdravnika in testiranje na okužbo z virusi hepatitisa(link do informacij glede testiranja).
						<br>
						Vaši dejavniki tveganja za okužbo z virusi hepatitisa:
					</p>
					<ul>
						<li ng-repeat="rt in resultText">
							{{ rt }}
						</li>
					</ul>
				</div>
			</div>
        </div>
    </div>
</div>