<!-- Django magic for static files -->
{% load static %}

<!DOCTYPE html>
<html lang="en" ng-app="HEPY" style="
        background: url({% static 'HEPY_new/img/bg-img.jpg' %}) no-repeat center center fixed; -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
		<link rel="icon" type="image/x-icon" href="{% static "HEPY_new/img/favicon.ico" %}" />

		<title>HEPY - Spletna aplikacija za prepoznavanje in informiranje o spolno prenosljivih okužbah </title>

		<!-- CSS  -->
		<link href='//fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
		<link href="{% static "HEPY_new/style/bootstrap.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />
		<link href="{% static "HEPY_new/style/perfect-scrollbar.min.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />
		<link href="//cdn.rawgit.com/noelboss/featherlight/1.3.2/release/featherlight.min.css" type="text/css" rel="stylesheet" title="Featherlight Styles" />
		<link href="{% static "HEPY_new/style/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />
	</head>

	<body ng-controller="PageCtrl as main">
		<div id="wrap">
				<header>
					<div ng-include="{% static 'HEPY_new/app/pages/menu.html' %}"></div>
				</header>

				<div class="container-fluid" id="main">
					<div class="row">
						<div ng-view class="view-animate"></div>
					</div>
				</div>
		</div>

		<footer>
			<div ng-include="{% static 'HEPY_new/app/pages/footer.html' %}"></div>
            {#% include 'HEPY_new/footer.html' %#}
		</footer>
		<div class="back-to-top" style="background: #f68f15 url({% static 'HEPY_new/img/arrow.png' %}) no-repeat; background-position: center;"></div>

		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdn.rawgit.com/noelboss/featherlight/1.3.2/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'HEPY_new/javascript/angular.min.js' %}"></script>
        <script src="{% static 'HEPY_new/javascript/angular-animate.min.js' %}"></script>
        <script src="{% static 'HEPY_new/javascript/angular-sanitize.min.js' %}"></script>
        <script src="{% static 'HEPY_new/javascript/marked.min.js' %}"></script>
        <script src="{% static 'HEPY_new/javascript/angular-route.min.js' %}"></script>
        <script src="{% static 'HEPY_new/javascript/ui-bootstrap.min.js' %}"></script>
        <script src="{% static 'HEPY_new/javascript/bootstrap.min.js' %}"></script>
        <script src="{% static 'HEPY_new/javascript/script.js' %}"></script>

        <!-- Angular App JS -->
        <script src="{% static 'HEPY_new/app/app.js'%}"></script>
        <script src="{% static 'HEPY_new/app/directives/angular-marked.js' %}"></script>
        <script src="{% static 'HEPY_new/app/directives/lightbox-img.js' %}"></script>
        <script src="{% static 'HEPY_new/app/controllers/pageCtrl.js' %}"></script>
        <script src="{% static 'HEPY_new/app/controllers/surveyCtrl.js' %}"></script>
        <script src="{% static 'HEPY_new/app/controllers/blankCtrl.js' %}"></script>
        <script src="{% static 'HEPY_new/app/controllers/symptomsCtrl.js' %}"></script>
        <script src="{% static 'HEPY_new/app/controllers/stdInfoCtrl.js' %}"></script>
        <script src="{% static 'HEPY_new/app/controllers/examplesCtrl.js' %}"></script>
        <script src="{% static 'HEPY_new/app/services/hepyService.js' %}"></script>

	</body>
</html>
